.container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster';
  font-size: 8rem;
  color: #4ECCA3;
}

h6 {
  margin: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

a{
  text-decoration: none;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.flag{
   display: inline;
   height: 8rem;
   width: 8rem;
}
